canvas {
  display: block;
  /* border-radius: 50%; */
  vertical-align: bottom;
}

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
}
