.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 150px 0;
  color: #25283e;
}

.title {
  font-size: 55px;
  margin: 0 0 30px 0;
}

.paragraph {
  margin-top: 0;
  font-size: 26px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 45px;
  max-width: 80%;
}
.paragraph strong {
  font-weight: normal;
}
.blockContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .root {
    width: 100%;
  }
  .blockContainer {
    margin: 0 12px;
  }
}
@media only screen and (max-width: 800px) {
  .root {
    width: 100%;
    padding: 60px 0;
    display: block;
  }
  .title {
    font-size: 20px;
    margin: 0 0 15px 0;
    text-align: center;
  }
  .paragraph {
    font-size: 14px;
    margin-bottom: 0;
    margin: 0 auto;
  }
}
